body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: chocolate;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.game-div {
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    background: rgb(202, 202, 202);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-square {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.game-square:hover {
    background: rgb(148, 147, 147);
    cursor: pointer;
}